body {
    background-color: rgb(240, 239, 238);
    font-family:'Montserrat', sans-serif;
    color: rgb(51, 60, 62);
    line-height: 32px;
}

H2{
    text-decoration: underline;
    text-decoration-color: rgb(96, 107 111)
}

  .title {
    font-size: 2em;
}

.box{
    width:full screen;
    height:100px;
    line-height: 100px;
    margin:20px 30px 20px 25px;
    padding:20px;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(250, 172, 120)
}
 
#box_nav {
  align-self:flex-start;
  display: inline-block;
  padding: 10px 30px 10px;
  font-size: 1em;
  color: rgb(51, 60, 62);
  font-weight: bold;
  text-transform: uppercase;
}

a: link: {
color: rgb(101, 101, 189);
}
   
a:hover {
    color: burlywood cursor: pointer;
}

a:visited{
  color:rgb(211, 176, 153);
}

#katya_photo {
    float:left;
    width:130px;
    height:110px;
    border-radius: 50%;
}
  
#welcome{
  margin:20px 30px 20px 25px;
  padding:20px;
}

#about {
    width:full screen;
    margin:20px 30px 20px 25px;
    padding:20px;  
}

#loves {
    width:full screen;
    margin:20px 30px 20px 25px;
    padding:20px;
}

#contact {
    width:full screen;
    height:120px;
    margin:20px 30px 20px 25px;
    padding:20px;
    background-color: rgb(201, 201, 189)
}

  